.navbar-main {
    min-width: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    h1 {
        color: white;
    }
}

ul {
    display: flex;
    li {
        margin-right: 10px;
    }
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-toolbar {
    padding: 0px 70px;
}

.wrapper {
    min-height: 100%;
}

.mr-8 {
    margin-right: 8px;
}

.toggle-theme {
    display: flex;
    align-items: center;
}
