<div *ngIf="filteredTodos.length; else noTodos"></div>
<div class="card" *ngFor="let todo of filteredTodos">
    <div class="post-info">
        <button mat-flat-button color="warn" class="btn btn-danger btn-delete" type="button" (click)="deleteTodo(todo.id, $event)">X</button>

        <div class="title-info" [class.completed]="todo.completed">{{ todo.title | titlecase }}</div>
        <div class="todo-description" [class.completed]="todo.completed">{{todo.description}}
        </div>

        <div class="card-footer">
            <div class="todo-category">{{ todo.categoryId | getTitleCategory }}</div>
            <div class="btns">
                <button mat-flat-button class="btn" type="button" [routerLink]="['/task/edit', todo.id]">Edit</button>
                <button mat-flat-button [class.completed]="!todo.completed" class="btn" type="button" (click)="completeTodo(todo.id, $event)">{{ !todo.completed ? 'Completed' : 'Сancel execution'}}</button>

            </div>
        </div>
    </div>
</div>
<ng-template #noTodos>
    <p class="no-todos">No posts in this category</p>
</ng-template>
