.category-item {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    border: #ccc 1px dotted;
    a {
        font-size: 24px;
        color: black;
    }
}