.auth-card {
    max-width: 600px;
    min-width: 320px;
    margin: 80px auto;
    padding: 1rem;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        margin-bottom: .5rem;
    }
    &.auth-title {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

mat-form-field {
    width: 100%;
}

.mat-error {
    margin-bottom: 10px;
}

.error-message {
    display: block;
}
