<form class="auth-card" [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="auth-title">Login to the app</h2>

    <div class="form-control">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
            <small *ngIf="form.get('email').errors.required">The email field must not be empty</small>
            <small *ngIf="form.get('email').errors.email">Please enter a valid email</small>
        </div>
    </div>

    <div class="form-control">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
            <small *ngIf="form.get('password').errors.required">Password field must not be empty</small>
            <small *ngIf="form.get('password').errors.minlength">Password must contain at least
        {{ form.get('password').errors.minlength.requiredLength }} characters</small>
            <small *ngIf="form.get('password').errors.maxlength">Password should not be overridden
        {{ form.get('password').errors.maxlength.requiredLength }} characters</small>
            <small *ngIf="form.get('password').errors.correctPassword">Password must contain uppercase and lowercase letters
        of the Latin alphabet</small>
        </div>
    </div>

    <div class="alern-danger" *ngIf="auth.error$ | async as error">
        {{ error }}
    </div>

    <div class="alern-info" *ngIf="message">
        {{ message }}
    </div>


    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">Sign in</button>
</form>

<ng-template #loadingBlock>
    <p class="loading">Loading...</p>
</ng-template>
