.category-item {
  cursor: pointer;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    .category-link {
        padding: 0;
        width: 100%;
        display: block;
        font-size: 20px;
        color: black;
    }
}
