<div class="card">

    <form class="form-control" [formGroup]="form" (ngSubmit)="submit()">

        <label>Title</label>

        <input type="text" placeholder="title" formControlName="title">

        <div *ngIf="form.get('title').invalid && form.get('title').touched" class="validation">

            <small *ngIf="form.get('title').errors.required">Title field cannot be empty</small>
            <small *ngIf="form.get('title').errors.pattern">Enter the title in uppercase</small>

        </div>

        <label>Description</label>

        <input type="text" placeholder="description" formControlName="description">

        <div *ngIf="form.get('description').invalid && form.get('description').touched" class="validation">

            <small *ngIf="form.get('description').errors.required">Description field cannot be empty</small>
            <small *ngIf="form.get('description').errors.minlength">Description must contain at least 10 characters</small>
            <small *ngIf="form.get('description').errors.correctDescription">At least one character and at least one number must be entered</small>


        </div>

        <button class="btn btn-add" type="submit" [disabled]="form.invalid">Add</button>

    </form>
</div>