<div class="card">

    <form class="form-control" [formGroup]="form" (ngSubmit)="addTodo()">

        <div class="input-wrapper">
            <input class="input-title" type="text" title="Add task" placeholder="Title" formControlName="title">

            <div *ngIf="form.get('title').invalid && form.get('title').touched" class="validation">
                <small *ngIf="form.get('title').errors.required">Title field cannot be empty</small>
                <small *ngIf="form.get('title').errors.pattern">Enter the title in uppercase</small>
            </div>
        </div>

        <div class="input-wrapper">
            <textarea class="input-description" type="text" placeholder="Description" formControlName="description"></textarea>

            <div *ngIf="form.get('description').invalid && form.get('description').touched" class="validation">
                <small *ngIf="form.get('description').errors.required">Description field cannot be empty</small>
                <small *ngIf="form.get('description').errors.minlength">Description must contain at least 10 characters</small>
                <small *ngIf="form.get('description').errors.correctDescription">At least one character and at least one number
          must be entered</small>
            </div>
        </div>

        <select>
      <option>Category 1</option>
      <option>Category 2</option>
      <option>Category 3</option>
      <option>Category 4</option>
      <option>Category 5</option>
    </select>

        <button class="btn btn-add" type="submit" [disabled]="form.invalid">Add</button>

    </form>
</div>
