<div class="wrapper">
    <aside>
        <app-search-task></app-search-task>
    </aside>
    <div class='wrapper-task'>

        <router-outlet></router-outlet>

        <app-add-task></app-add-task>
        <button class="btn" type="button" (click)="loadingTodos()">Download</button>
        <p *ngIf="error; else noTodos" class="error">{{error}}</p>

        <ng-template #noTodos>
            <div *ngIf="!loading ; else loadingBlock">
                <div *ngIf="todos.length; else noTodos">
                    <div class="card" *ngFor="let todo of todos">
                        <div class="post-info">
                            <div>Tittle: {{ todo.title | titlecase}}</div>
                            <div>Description: {{ todo.body | titlecase}}</div>
                            <div>
                                <button class="btn btn-danger" type="button" (click)="deleteTodo(todo.id)">Delete</button>
                                <button class="btn" type="button">To complete</button>
                            </div>
                        </div>
                        <span>
        </span>
                    </div>
                </div>
                <ng-template #noTodos>
                    <p class="loading">No posts</p>
                </ng-template>
            </div>

            <ng-template #loadingBlock>
                <p class="loading">Loading...</p>
            </ng-template>
        </ng-template>
    </div>
</div>
